.bg-odd{
    background-color:   rgb(167, 167, 167);
    
}

.bg-even{
    background-color: rgb(226, 226, 226);
   
}

.hour-row{
      
    font-size: 0.7rem;
    /*height: 4rem; moved to timetable.js*/ 
}

.col-days{    
    border-style: solid;    
    border-width: 1px 1px 1px 0px;    
    
}

.col-firstday{    
    border-left-width: 1px;
}


.container-timetable{
    background-color: rgba(51, 51, 61,1);
    border-style: solid;
    border-color: black;
    border-width: 0 0.05rem 0.05rem 0.05rem;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    

}


/*
@keyframes testani{
    0%{
        transform: translateY(0px) rotate(0deg);
    }
    50%{
        transform: rotate(45deg) translateY(0px);
    }
    100%{
        transform: translateY(2000px) rotate(-30deg);
    }
}

.container-timetable:hover{
   
  
    transform-origin: 0 0;
    animation-name: testani; 
    animation-duration: 2s; 
    animation-timing-function: ease-in;
}

*/

.day-row{
    background-color: rgb(82, 82, 82);
    color:white;
    justify-content: center;
    height: 1.5rem;
    /*border-style: solid;
    border-width: 0px;
    border-bottom: 2px;*/    
}

.event-body{
    padding: 0.2rem;
    font-size: 0.7rem;
}

.event-card{
    background-color: coral;
    position: absolute;
    width:90%;
    margin-left: 0.5rem;    
    overflow: hidden;
    /*margin-right: 0px;
    margin-left: 1.1rem;*/
}

.event-card:hover{
    overflow: auto;
    scroll-behavior: smooth;
    z-index: 999;
    min-height: 3rem;
    /*max-height: 100%;*/
}

.event-header{
    padding: 0.2rem 0.3rem;
    font-size: 0.7rem;
}


/*
Event colors:
*/
.event-blue{
    color: white;
    background-color: blue;
}

.event-orange{
    color: black;
    background-color: coral;
}





.hidden{
    visibility: hidden;
}

.overlay{
    position: absolute;
    width: 100%;    
    z-index: 20; 
}

.overlay-wrapper{
    position: relative;
    width: 100%;
}

body{
    background-image:  linear-gradient(30deg, green,blue);
    background-repeat: no-repeat;
    min-height: 100vh;
}

